<div class="card" style="width: 18rem;">
  <img src="<%= NFTImage %>" alt="<%= NFTName %>" class="card-img-top">
  <div class="card-body">
    <a href="<%= NFTpermalink %>" class="text-decoration-none text-reset">
      <p class="card-title h3"><%= NFTName %></p>
    </a>
    <a href="https://opensea.io/collection/<%= NFTCollection.toLowerCase() %>" class="text-decoration-none text-reset">
      <p class="card-title h4"><%= NFTCollection %></p>
    </a>

    <table class="table table-borderless max-width">
      <thead>
        <tr>
          <th scope="col">Floor Price</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Top Bid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">2.5</td>
          <td></td>
          <td></td>
          <td><%= NFTTopBid %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
<%- include('_NFT_card', {NFTImage:"https://lh3.googleusercontent.com/tzD7I1nFxSKxpemNWOmPh43WivjoWC1wl-Xne_YpW7xdFA5BurBVt0tAu3V0p7RYLLNGE56EQxPgSp6WGeucHS5n4r7vlK9-QdYV0A" , NFTCollection:"BapesFuture", NFTName:"Bapes Future",NFTpermalink:"https://opensea.io/assets/ethereum/0xc67b9897d793a823f0e9cf850aa1b0d23e3f8d09/8979",NFTLastSale:"null",NFTTopBid:".78" }); %>
