<%- include('_header'); -%>
<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-9 col-lg-9 col-xl-9 col-xxl-9 col-sm-12 col-12 card-deck">
            <%- include('_nft_view2'); -%>
    </div>
    <div class="col-3 d-none d-sm-none d-lg-block d-md-block d-xl-block d-xxl-block">
        <p class="card-title text-center h1 py-2">Widgets</p>
        <%- include('_gas_tracker'); -%>
        <%- include('_24h_trending'); -%>
    </div>
  </div>

</div>

<%- include ('_footer'); -%>
